.load-more {
  height: 40px;
  min-width: 100px;
  padding: 10px;
  margin: 0 auto;

  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(35, 35, 155, 0.774);
  border-radius: 4px;
  cursor: pointer;
}
